prometheus:
  prometheusSpec:
    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
    retention: 1d

grafana:
  resources:
    limits:
      memory: "256Mi"
      cpu: "100m"

alertmanager:
  enabled: false
prometheusOperator:
  resources:
    limits:
      memory: "150Mi"
