service:
  type: LoadBalancer
  loadBalancerIP: "192.168.12.201"
ports:
  web:
    port: 8000
    exposedPort: 80
    expose:
      default: true
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    port: 8443
    exposedPort: 443
    expose:
      default: true
    #http:
    #middlewares:
    #- auth@kubernetescrd
